.filter-section {
  padding-bottom: 10px;
}
.filter-section > span {
  padding-bottom: 5px;
  display: inline-block;
}

.filter-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
}

.filter-button {
  border: 0px;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  background-color: var(--button-filterOption);
  font-size: var(--fs-filter-body);
}
