.main-container {
  margin: auto;
  padding-top: 30px;
  display: flex;
  gap: 30px;
  width: 60%;
  min-width: 700px;
  max-width: 1200px;
}

.filter-section {
  padding: 10px;
  padding-top: 5rem;
  position: relative;
}

.content-section {
  padding: 10px;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.content-header {
  display: flex;
  gap: 20px;
  align-items: end;
}
.content-header > h1 {
  font-size: var(--fs-header-2);
  font-weight: 600;
}

.view-options-container {
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.view-options-container > span {
  font-size: var(--fs-filter-body);
}

.view-option {
  display: block;
  font-size: var(--fs-options);
  height: fit-content;
  color: var(--color-grey-500);
}
.display-option {
  user-select: none;
}
.view-option:hover, .display-option:hover {
  color: var(--color-purple-500);
}


.posts-container {
  padding-top: 10px;
  position: relative;
  display: grid;
  gap: 10px;
}

.post-card {
  padding: 10px;
  width: 100%;
}
.post-card:hover {
  background-color: var(--post-hover);
}
.post-card > h2 {
  font-size: var(--fs-post-header-2);
  color: var(--post-header);
}
.post-card > p {
  font-size: var(--fs-post-body-2);
}

.divider {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  bottom: -5px;
  background-color: var(--bg-divider);
}