.footer-container {
  padding: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer-text {
  text-align: center;
  color: var(--color-noresult);
}

.button-container {
  border-radius: 10px;
  padding: 7px 10px 7px 10px;
  width: fit-content;
  background-color: var(--post-button);
  text-decoration: none;
}
.button-container:hover {
  background-color: var(--post-button-hover);
}

.button-text {
  color: var(--post-button-text);
}