.header-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 280px;
}

.header {
  height: fit-content;
  font-size: var(--fs-header);
  font-weight: 600;
  color: var(--color-light-itch);
  line-height: 100%;
}
.header > a {
  text-decoration: none;
}

.header-info > span:nth-child(2) {
  padding-left: 10px;
}