
.header {
  height: fit-content;
  font-size: var(--fs-header);
  font-weight: 600;
  color: var(--color-light-itch);
  line-height: 100%;
}

.select-container {
  padding-top: 5px;
  width: fit-content;
}
.gamejams-select {
  border: 0;
  padding: 5px;
  font-size: var(--fs-filter-body);
}

.gamejam-info {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  width: fit-content;
}
.gamejam-info > span {
  font-size: var(--fs-filter-body);
}
.gamejam-info-colored {
  color: var(--color-dark-itch);
}