.header-container {
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.header-title {
  font-size: var(--fs-post-header);
  color: var(--color-header);
  text-decoration: none;
  user-select: none;
}

.github-icon {
  display: inline-block;
  font-size: 30px;
  width: 30px;
  height: 30px;
}