.loading-container {
  margin: auto;
  padding: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.loading-message {
  text-align: center;
  color: var(--color-noresult);
  font-size: var(--fs-header-2);
  font-weight: 500;
}

.spinner-container {
  position: relative;
}

.spinner {
  width: 25px;
  height: 25px;
  border: 5px solid var(--color-noresult);
  border-top: 5px solid var(--color-spinner);
  border-radius: 50%;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
