.no-result-placeholder {
  margin: auto;
  padding: 5rem;
  text-align: center;
  color: var(--color-noresult);
}

.no-result-placeholder > span:nth-child(1) {
  font-size: var(--fs-header-2);
  font-weight: 500;
}