.button {
  border: 1px solid var(--color-darkgray);
  border-radius: 5px;
  margin-bottom: 12px;
  padding: 6px 12px 6px 12px;
  position: relative;
  display: block;
  width: fit-content;
  background-color: var(--color-gray);
  cursor: pointer;
  transition: .2s;
}
.button:hover {
  border: 1px solid var(--color-itch);
  background-color: var(--color-itch-light);
  color: white;
  transition: .1s;
}

.dropdown {
  border: 1px solid var(--color-itch);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-block: 6px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 120px;
  left: -1px;
  color: white;
  background-color: var(--color-itch-light);
  transform: translateY(6px);
}
.dropdown > span {
  padding: 3px 12px 5px 12px;
}
.dropdown > span:hover {
  background-color: var(--color-itch);
}
