.home-hero {
  padding-top: 13.75rem;
  height: 100svh;
}
.hero-container {
  margin: auto;
  max-width: 1320px;
}

.header-container {
  margin: auto;
  display: block;
  width: 60%;
}
.header-wrapper {
  display: inline-block;
  max-width: 470px;
}
.header-wrapper > h1 {
  margin-bottom: 20px;
  line-height: 1.1;
  font-size: var(--fs-header);
  font-weight: bold;
}
.header-wrapper > h1 > span {
  color: var(--text-brand);
}

.btn-container {
  margin: auto;
  padding-top: 11rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 20%;
  max-width: 400px;
}

@media (width < 660px) {
  .home-hero {
    padding-top: 7rem;
  }

  .header-container {
    width: 90%;
  }

  .btn-container {
    padding-top: 10%;
    flex-direction: column;
    gap: 50px;
    width: 80%;
  }
}
