.main-container {
  margin: auto;
  position: relative;
  width: 95%;
  max-width: 1000px;
}

.title-section {
  margin: auto;
  padding-top: 12.5rem;
  position: relative;
  text-align: center;
}

.title-section > h1 {
  padding-bottom: 1.25rem;
  font-size: var(--fs-header);
  font-weight: 600;
  color: var(--color-light-itch);
  line-height: 100%;
}

.content-section {
  margin: auto;
  padding-top: 1.5rem;
  position: relative;
  max-width: 400px;
}

.note {
  font-size: var(--fs-filter-body);
}