.main-container {
  padding-top: 10rem;
  padding-right: 25%;
  padding-left: 25%;
  position: relative;
}

.page-header {
  padding-bottom: var(--spacing-32);
  position: relative;
}
.page-header > h1 {
  color: var(--color-main);
  font-size: var(--fs-header);
  font-weight: 600;
}
.page-header > p {
  max-width: 500px;
}

.gamejams-category {
  display: flex;
  justify-content: space-between;
}

.category-container {
  flex: 1;
  position: relative;
}

.category-list {
  position: relative;
  display: flex;
  flex-direction: column;
}