.jam-info-container {
  position: relative;
}
.jam-info-container::after {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background-color: var(--bg-shadow);
}

.filters-wrapper {
  padding: 3px;
}

.gamejam-info {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  width: fit-content;
}
.gamejam-info > span {
  font-size: var(--fs-filter-body);
}
.gamejam-info-colored {
  color: var(--color-dark-itch);
}