
.select-container {
  position: relative;
}
.gamejams-select {
  border: 1px solid var(--select-border-color);
  padding: 5px;
  width: 40%;
  min-width: 280px;
  font-size: var(--fs-filter-body);
}
