.filter-section {
  padding-top: 1rem;
  position: relative;
  display: flex;
  gap: 1%;
  align-items: center;
  color: var(--filter-icon-color);
}

.tag {
  border-radius: 15px;
  padding: 2px 10px 3px 10px;
  background-color: var(--tag-bgcolor);
}

.tag > span {
  font-size: var(--fs-filter-body);
  color: var(--fontcolor-default);
  user-select: none;
}