.jam-info-container {
  position: relative;
}
.jam-info-container::after {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background-color: var(--bg-shadow);
}

.filters-wrapper {
  padding: 3px;
}

.filtertags-section {
  padding-top: 1rem;
  position: relative;
  display: flex;
  gap: 1%;
  align-items: center;
  color: var(--filter-icon-color);
}

.tag {
  border-radius: 15px;
  padding: 2px 10px 3px 10px;
  color: var(--fontcolor-default);
  background-color: var(--tag-bgcolor);
}

.tag > span {
  font-size: var(--fs-filter-body);
  user-select: none;
}

.gamejam-info {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  width: fit-content;
}
.gamejam-info > span {
  font-size: var(--fs-filter-body);
}
.gamejam-info-colored {
  color: var(--color-dark-itch);
}