.filtertags-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  color: var(--color-mute);
}

.tag {
  border-radius: 15px;
  padding: 2px 10px 3px 10px;
  color: var(--color-body);
  background-color: var(--color-tag-background);
}

.tag > span {
  font-size: var(--fs-filter-body);
  user-select: none;
}