:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  --background: #ffffff;
  --foreground: #171717;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-purple-100: #b47bff;
  --color-purple-200: #8b4ddb;
  --color-purple-300: #7140B3;
  --color-purple-400: #440C8E;
  --color-purple-500: #360874;
  --color-blue-300: #4B94F3;
  --color-blue-500: #4486dd;
  --color-grey-100: #f0f0f0;
  --color-grey-200: #c4c4c4;
  --color-grey-300: #adadad;
  --color-grey-500: #818181;
  --color-light-itch: #ff4b69;
  --color-itch: #FF2449;
  --color-dark-itch: #dd2140;

  --button-text: var(--color-white);
  --button-primary: var(--color-black);
  --button-primary-hover: var(--color-purple-400);
  --button-secondary: var(--color-blue-300);
  --button-secondary-hover: var(--color-blue-500);
  --button-brand: var(--color-purple-300);
  --button-brand-hover: var(--color-purple-400);

  --text-secondary: var(--color-grey-300);
  --text-brand: var(--color-purple-300);

  --post-header: var(--color-purple-500);
  --post-hover: var(--color-grey-100);

  --bg-divider: var(--color-grey-300);
  --bg-shadow: var(--color-grey-300);


  --fs-header: 5rem; /*80px;*/
  --fs-header-2: 2rem; /*32px;*/
  --fs-post-header: 1.5rem; /*24px;*/
  --fs-post-header-2: 1.25rem; /*20px;*/
  --fs-post-body: 1rem; /*16px;*/
  --fs-post-body-2: .875rem; /*14px;*/
  --fs-options: 1.5rem; /*204px;*/
  --fs-filter-header: 1rem; /*16px;*/
  --fs-filter-body: .875rem; /*14px;*/
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15151b;
    --foreground: rgb(254, 255, 248);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  overflow: auto;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}
