:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  --background: #ffffff;
  --foreground: #171717;

  --color-black: #000000;
  --color-black-opaque-80: rgba(0, 0, 0, .8);
  --color-black-opaque-50: rgba(0, 0, 0, .5);
  --color-white: #ffffff;
  --color-white-100: #ececec;
  --color-white-200: #e4e4e4;
  --color-purple-100: #b47bff;
  --color-purple-200: #8b4ddb;
  --color-purple-300: #7140B3;
  --color-purple-400: #440C8E;
  --color-purple-500: #360874;
  --color-blue-300: #4B94F3;
  --color-blue-500: #4486dd;
  --color-grey-100: #dddddd;
  --color-grey-200: #c4c4c4;
  --color-grey-300: #adadad;
  --color-grey-500: #818181;
  --color-pastel-itch: #fc778d;
  --color-light-itch: #ff4b69;
  --color-itch: #FF2449;
  --color-dark-itch: #dd2140;

  --filter-icon-color: var(--color-grey-200);

  --card-background-hover: var(--color-white-100);

  --tag-bgcolor: var(--color-white-200);
  --tag-bgcolor-active: var(--color-itch);

  --fontcolor-default: var(--color-black);
  --fontcolor-tag-active: var(--color-white);

  --text-secondary: var(--color-grey-300);

  --post-header: var(--color-itch);
  --post-hover: var(--color-dark-itch);
  --post-author: var(--color-grey-500);
  --post-date: var(--color-grey-500);

  --bg-divider: var(--color-grey-100);
  --bg-shadow: var(--color-grey-200);


  --fs-header: 3rem; /*48px;*/
  --fs-header-2: 2rem; /*32px;*/
  --fs-post-header: 1.5rem; /*24px;*/
  --fs-post-header-2: 1.25rem; /*20px;*/
  --fs-post-body: 1rem; /*16px;*/
  --fs-post-body-2: .875rem; /*14px;*/
  --fs-post-details: .75rem; /*12px;*/
  --fs-options: 1.5rem; /*20px;*/
  --fs-filter-header: 1rem; /*16px;*/
  --fs-filter-body: .875rem; /*14px;*/
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15151b;
    --foreground: rgb(254, 255, 248);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  color: inherit;
}

body {
  min-height: 100vh;
  overflow: auto;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}
