:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;

  --color-white: #ffffff;
  --color-black: #0f0f0f;
  --color-itch-light: #ff6f87;
  --color-itch: #FF2449;

  --background: var(--color-white);
  --foreground: var(--color-black);
  --color-main: var(--color-itch);

  --fs-header: 3.5rem; /*56px*/
  --fs-body: 1.125rem; /*18px*/

  --spacing-8: .5rem;
  --spacing-16: 1rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;

  color: var(--color-black);
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: var(--color-itch-light);

    color: var(--color-white);
    background-color: var(--foreground);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  color: inherit;
}

p {
  font-size: var(--fs-body);
  font-weight: 300;
}

body {
  min-height: 100vh;
  overflow: auto;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}
