:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  --background: #ffffff;
  --foreground: #171717;

  --color-green: #0A9929;
  --color-lightblue: #4B94F3;

  --fs-header: 5rem; /*80px;*/
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15151b;
    --foreground: rgb(254, 255, 248);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  overflow: auto;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}
