.select-disabled {
  border: 1px solid var(--select-border-color);
  padding: 5px;
  width: 40%;
  min-width: 280px;
  max-width: 400px;
  font-size: var(--fs-filter-body);
  user-select: none;
  color: var(--color-select-disabled);
}


