.skeleton-container {
  position: relative;
  list-style-type: none;
}

.skeleton-card {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  height: 80px;
  background-color: var(--bg-post-skeleton);
}